name: build and deploy
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'version to deploy'
        required: true
        type: string
        default: 'v1.0.0'
      environment:
        description: 'Select environment'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - uat
          - prod
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build the application
        run: echo "Building the application..."
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Print input parameters
        run: |
          echo "Hello, ${{ inputs.version }}! You have selected the ${{ inputs.environment }} environment."