name: maven java docker build deploy
on:
  workflow_dispatch:
permissions:
  contents: read
  id-token: write
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.9
      - name: Build with Maven
        run: |
          mvn clean test package deploy -s .mvn/settings.xml -Drevision=${{ inputs.version }}
      - name: upload jar
        uses: actions/upload-artifact@v4
        with:
          name: java-app-jar
          path: target/*.jar